/*Lucas Rosa Barbosa - CPD: 33992*/

ul{
    list-style: inside url("../img/seta.jpg");
    color: red;
    font-family: Verdana;
    font-size: 12px;
}

a{
    border-bottom: 1px dotted red;
}

a:hover{
    color: green;
    border-bottom: 1px dotted green;
}

li:hover{
    list-style-image: url("../img/seta2.png");
}